<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soufun.bin.bindemo">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/timg"
        android:label="Bin"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="Bin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MessengerService"
            android:process=":remote" />

        <activity
            android:name=".activity.MessengerActivity"
            android:label="@string/title_activity_messenger"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".service.BookManagerService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <activity android:name=".activity.BookManagerActivity" />
    </application>

</manifest>